# Ignore all files in the bin directory
bin/

# Ignore all files in the obj directory
obj/

# Ignore all .user files
*.user

# Ignore all .suo files
*.suo

# Ignore packages directory
**/packages/*

# Ignore .vs directory
.vs/
.idea/